* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
#app {
    width: 100vw;
    height: 100vh;
}

/* Main Menu */

.MainMenuButton {
    margin-top: 10%;
    margin-left: 40%;
    width: 15%;
    height: 15%;
    font-size: 2vw;
    text-align: center;
    border-style: inset;
    border-color: darkgrey;
    background-color: burlywood;
}

/* Character Creation */

#showCharacterCreation {
    width: 100vw;
    height: 100vh;
    background: url("images/dessert.png");
    background-size: 100vw 100vh;
    display: grid;
    font-size: 2vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5fr 1fr;
    grid-template-areas: 'stats options'
                            'save save';
}
#displayCharacterCreationStatsAndAttributes {
    grid-area: stats;
    margin: auto;
}
#startAdventure {
    grid-area: save;
    text-align: center;
    margin: auto; 
    border-style: inset;
    border-color: darkgrey;
    background-color: burlywood;
}
#characterCreationOptions {
    grid-area: options;
    margin: auto;
}

/* Region 1 */

#explore1Continue {
    position: absolute;
    z-index: 10;    
    width: 8vw;
    height: 6vh;
    margin-left: 90vw;
    margin-top: 48vh;
    font-size: 2vw;
    text-align: center;
    border-style: inset;
    border-color: darkgrey;
    background-color: burlywood;
}
#playerExploreBattle1 {
    float:left;
    margin-top: 40vh;
    margin-left: 20vw;
}

#npcExploreBattle1 {
    float:right;
    margin-top: 40vh;
    margin-right: 20vw;
}
#exploreBattle1Attacks {
    position: absolute;
    margin: 80vh 0 0 20vw;
}
#normalAttack1 {
    background-color: rgb(107, 94, 94);
    padding: 0.5vw;
    float: left;
    margin: 0.1vw;
}
#hardAttack1 {
    background-color: brown;
    padding: 0.5vw;
    float: left;
    margin: 0.1vw;
}

.blacksmithItemsUnlocked {
    border: 2px solid grey;
}
#blacksmithingTable {
    width: 3.5vw;
    height: 7vh;
    background-color: cadetblue;
}
#blacksmithInventory {
    height: 60vh;
    width: 37vw;
    margin: 0 0 0 50vw;
    background-color: brown;
    padding: 0.2%;
}
.blacksmithInventoryItems {
    width: 10.5%;
    height: 11.7%;
    float: left;
    margin: 1%;
    background-color: burlywood;
}
#blacksmithDisplayInventory {
    width: 60vw;
    height: 60vh;
    z-index: 90;
    position: absolute;
    margin: -5vh 39vw;
    background-color: brown;
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 0.2% 0.4% 0.2% 0.2%;
    gap: 0.2%;
}
/* Shop */

.shop1Stock {
    width: 5vw;
    height: 6vh;
}
#shop1DisplayItemStats {
    position: absolute;
    z-index: 15;
    margin: 20vh 0 0 30vw;
}

/* Inventory */
.displayInventory {
    width: 60vw;
    height: 60vh;
    z-index: 100;
    position: absolute;
    margin: 20vh 20vw;
    background-color: brown;
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 0.2% 0.4% 0.2% 0.2%;
    gap: 0.2%;
}
#inventoryStatsArea {
    background-color: burlywood;
}
#inventoryStatsName {
    text-align: center;
}
#inventoryStatsPack {
    display: grid;
    grid-template-columns: 25% 50% 25%;
}
#inventoryOnPersonLeftItems, #inventoryOnPersonRightItems {
    display: flex;
    flex-direction: column;
}
.inventoryOnPersonItem {
    background-color: blueviolet;
    margin: 10%;
    height: 5vh;
}
#inventoryCharacterDisplay {
    height: auto;
    width: 75%;
}
#characterImageDiv {
    display: flex;
    justify-content: center;
}
#topInventoryPlayerStats {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#bottomInventoryPlayerStats {
    display: flex;
    flex-direction: column;
    text-align: center;
}


#inventoryItemsArea {
    background-color: cadetblue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.inventoryItems {
    margin: 1%;
    width: 5vw;
    height: 5vh;
}
.itemsUnlocked {
    border: 3px solid grey;
}
#inventoryButtons {
    width: 20vw;
    position: absolute;
    z-index: 20;
    margin: 57vh 0 0 30vw;
}
#inventoryButtons btn {
    float: left;
    width: 5vw;
    height: 2vh;
}
